@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?u2pxvm');
    src:  url('fonts/icomoon.eot?u2pxvm#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?u2pxvm') format('truetype'),
      url('fonts/icomoon.woff?u2pxvm') format('woff'),
      url('fonts/icomoon.svg?u2pxvm#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-home:before {
    content: "\e900";
  }
  .icon-phone:before {
    content: "\e942";
  }
  .icon-clock:before {
    content: "\e94e";
  }
  .icon-truck:before {
    content: "\e9b0";
  }
  .icon-mail3:before {
    content: "\ea85";
  }
  .icon-mail4:before {
    content: "\ea86";
  }
  .icon-whatsapp:before {
    content: "\ea93";
  }




.fondo-tst {
    background: rgb(151, 119, 119);
    color: white;
}


#header img {
    max-height: 50px;
}

/* #main {
    height: 650px;
} */


#main .carousel-inner img {
  max-height: 70vh;
  object-fit: cover;
}


#contactanos i {
  font-size: 30px;
  color: #343a40;
}


#contactanos a {
  color: black;
}

#contactanos img {
    /* max-height: 100%; */
    max-width: 100%;
}


#footer a {
    color: white;
}


#footer,
#copyright {
    background-color: #343a40;
}


.linea-divisoria {
    /* height: 1px; */
    background-color: rgb(114, 112, 112);
}