@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?u2pxvm');
    src:  url('fonts/icomoon.eot?u2pxvm#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?u2pxvm') format('truetype'),
      url('fonts/icomoon.woff?u2pxvm') format('woff'),
      url('fonts/icomoon.svg?u2pxvm#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-home:before {
    content: "\e900";
  }
  .icon-phone:before {
    content: "\e942";
  }
  .icon-clock:before {
    content: "\e94e";
  }
  .icon-truck:before {
    content: "\e9b0";
  }
  .icon-mail3:before {
    content: "\ea85";
  }
  .icon-mail4:before {
    content: "\ea86";
  }
  .icon-whatsapp:before {
    content: "\ea93";
  }


  @font-face {
    font-family: 'icomoon';
    src:  url('fonts-socials-media/icomoon.eot?4g6pcd');
    src:  url('fonts-socials-media/icomoon.eot?4g6pcd#iefix') format('embedded-opentype'),
      url('fonts-socials-media/icomoon.ttf?4g6pcd') format('truetype'),
      url('fonts-socials-media/icomoon.woff?4g6pcd') format('woff'),
      url('fonts-socials-media/icomoon.svg?4g6pcd#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e9bd";
  }
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-facebook2:before {
    content: "\ea91";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-youtube2:before {
    content: "\ea9e";
  }
  
.sectionHeader {
  margin: 0;
  padding: 0 10px;
  width: 100%;
  height: auto;
  background: linear-gradient(to right, #373b44, #4286f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
}

.rowHeaderContainer {
  margin: 0;
  padding: 0;
  width: inherit;
  height: inherit;
  /* background: linear-gradient(to right, #373b44, #4286f4);*/
}

.headerContainer {
  margin: 0;
  padding: 0;
  width: inherit;
  height: inherit;
  /* background: linear-gradient(to right, #373b44, #4286f4); */
}

.header {
  margin: 0;
  padding: 0;
  /* background: linear-gradient(to right, #373b44, #4286f4); */
  width: inherit;
  height: inherit;
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
}

.logoTst {
  display: flex;
  align-items: center;

}


.logoTitle {
  margin: 0;
  padding: 0;
  /* width: 250px; */
  height: auto;
  font-size: 18px;
  color: white;
  /* text-decoration: none; */
}



.logoImageTst {
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  border: 2px solid white;
}

.main {
  background: linear-gradient(to right, #373b44, #4286f4);
}

.fondo-tst {
    background: linear-gradient(to right, #373b44, #4286f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;;
    color: white;
}




.btnMenu {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  /* border: 3px solid white; */
  border: 2px solid white;
  border-radius: 5px;
}

.icon-menu {
  font-size: 20px;
  color: white;
}

.navbar {
  padding: 0;
  color: white;
}

.navbar-nav {
  margin: 0 auto;
  padding: 0;
  width: 60%;
  display: flex;
  justify-content: center;
}

.nav-item {
  min-width: auto;
  max-width: 150px;
  text-align: center;
}

.nav-link {
  font-weight: bold;
}



/* .nav-item:hover, */
.nav-link:hover {
  /* background: #373b44; */
  color: rgb(189, 161, 161);
  /* font-weight: bold; */
}

.nav-link,
.navbar-toggler-icon,
.navbar-toggler {
  color: white;
}


#main .carousel-inner img {
  max-height: 70vh;
  object-fit: cover;
}



.products {
  margin: 0;
  padding: 20px 0 0 0;
  /* background: linear-gradient(to right, #373b44, #4286f4); */
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  /* background: transparent; */
  z-index: -2;
}

.titleProducts,
.tittleServicios {
  color: white;
}

.card {
  /* background: transparent; */
  /* border: 1px solid #2c5364; */
  /* border: 0.5px solid transparent; */
  position: relative;
  background: white;
  z-index: 0;
}

.card::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  /* background: white; */
  background: rgb(134, 127, 127);
  /* background: #203a43; */
  /* background: #2c5364; */
  width: 100%;
  height: 10px;
  filter: blur(10px);
  z-index: -1;
}

.cardProductosBody {
  height: 200px;
  /* color: white; */
  /* color: rgba(44, 83, 100, 0.8); */
}

.cardServiciosBody {
  height: 300px;
  /* color: white; */
  /* color: rgba(44, 83, 100, 0.8); */
}

.cardServiciosText {
  height: 168px;
}

/* .card-body:hover {
  background: rgb(44, 83, 100, 0.8);
  color: white;
  transition: 0.5s;
} */

.cardTitle {
  text-align: center;
}

.cardText {
  /* height: 70px; */
  text-align: justify;
}

.containerbtnModalMasInfo {
  text-align: center;
}

.btnModalMasInfo {
  text-decoration: none;
  color: white;
}

.servicios {
  margin: 0;
  padding: 20px 0 0 0;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

.btn-tst {
  background: linear-gradient(to left, #67b26f, #4ca2cd);
}


.contactanos {
  margin: 0;
  padding: 18px 0;
}


.contactanos .icon {
  font-size: 30px;
  /* color: linear-gradient(to right, #373b44, #4286f4); */
  color: #2c5364;
}

.contactanosPhone,
.contactanosWhatsapp,
.contactanosMail,
.contactanosAddress,
.contactanosDateOpen {
  margin: 0;
  padding: 10px 0;

}

.contactanos .numberPhone,
.contactanos .whatsapp,
.contactanos .mail,
.contactanos .address,
.contactanos .dateOpen {
  margin: 0;
  padding: 0;
  color: #4286f4;

}

.contactanosSubTitle {
  color: 1px solid #2c5364;
}

.contactanosMapUbication {
  border: #2c5364;
  border-radius: 5px;
}





.containerTitlePartnerts {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #2c5364;
}

.logoPartnerts {
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

/* .logoBosch {
  background: ;
} */

.marcaDremel {
  margin: auto 0;
}

#contactanos a {
  color: linear-gradient(to right, #373b44, #4286f4);
}

#contactanos img {
    /* max-height: 100%; */
    max-width: 100%;
}

.redesSociales {
  margin: 0;
  padding: 20px 0;
  height: 120px;
  background: linear-gradient(to right, #373b44, #4286f4);
}

.redesSociales .col {
  text-align: center;
}

.titleRedesSociales {
  color: white;
}

.linkRedesSociales {
  padding: 10px 0;
  text-align: center;
}

.redesSociales i {
  margin: 0 20px;
  font-size: 30px;
  color: white;
}

.partnerts {
  margin: 0;
  padding: 20px;
  width: 100%;
  height: auto;

}

#footer a {
    color: white;
}


#footer,
#copyright {
    background-color: #343a40;
}


.linea-divisoria {
    /* height: 1px; */
    background-color: rgb(114, 112, 112);
}

.modal-header {
  background: linear-gradient(to right, #373b44, #4286f4);
  color: white;
}

.inputIncorrect {
  border: 2px solid red;
}

.msgErrorOK {
  display: none;
}

.msgErrorNOK {
  padding-left: 5px;
  display: block;
  color: red;
}

.modal-footer {
  text-align: center;
}
